<section id="sort" class="hot">
  <div class="container">
    <h1>Categories</h1>
    <hr>
    <div class="row">
      <div class="col-sm-3">
        <img  class="img-thumbnail" alt="140x140" src="http://placehold.it/180x180">
        <div>圆形图片</div>
      </div>

      <div class="col-sm-3">
        <img  class="img-thumbnail" alt="140x140" src="http://placehold.it/180x180">
        <div>圆形图片</div>
      </div>

      <div class="col-sm-3">
        <img  class="img-thumbnail" alt="140x140" src="http://placehold.it/180x180">
        <div>圆形图片</div>
      </div>

      <div class="col-sm-3">
        <img  class="img-thumbnail" alt="140x140" src="http://placehold.it/180x180">
        <div>圆形图片</div>
      </div>
      <div class="col-sm-3">
        <img  class="img-thumbnail" alt="140x140" src="http://placehold.it/180x180">
        <div>圆形图片</div>
      </div>

      <div class="col-sm-3">
        <img  class="img-thumbnail" alt="140x140" src="http://placehold.it/180x180">
        <div>圆形图片</div>
      </div>

      <div class="col-sm-3">
        <img  class="img-thumbnail" alt="140x140" src="http://placehold.it/180x180">
        <div>圆形图片</div>
      </div>

      <div class="col-sm-3">
        <img  class="img-thumbnail" alt="140x140" src="http://placehold.it/180x180">
        <div>圆形图片</div>
      </div>

    </div>
  </div>
</section>
