

<footer class="container-footer" style="margin-top: 100px;">
  <p class="pull-right"><a href="">回到顶部</a></p>

  <p class="text-center">Copyright ©2017 职优网
    <br>Design by
    <a href="http://courses.growthschool.com/courses/rails-101/" target=_new>xiaoguaishou</a>
  </p>
  <div class="findSocial text-center">
            <a target="_blank" href="https://plus.google.com/" class="fa fa-google-plus"><span class="sr-only">Google Plus</span></a>
            <a target="_blank" href="https://www.facebook.com/" class="fa fa-facebook"><span class="sr-only">Facebook</span></a>
            <a target="_blank" href="https://twitter.com/" class="fa fa-twitter"><span class="sr-only">Twitter</span></a>
            <a target="_blank" href="https://www.instagram.com/" class="fa fa-instagram"><span class="sr-only">Instagram</span></a>
            <a target="_blank" href="https://www.youtube.com/" class="fa fa-youtube"><span class="sr-only">YouTube</span></a>
            </div>
</footer>
