

<footer class="container-footer" style="margin-top: 100px;">
  <div class="pull-right"><a href="">回到顶部</a></div>
  <br>

  <div class="findSocial text-center">
            <a target="_blank" href="https://plus.google.com/" class="fa fa-google-plus fa-3x"><span class="sr-only">Google Plus</span></a>
            <a target="_blank" href="https://www.facebook.com/" class="fa fa-facebook fa-3x"><span class="sr-only">Facebook</span></a>
            <a target="_blank" href="https://twitter.com/" class="fa fa-twitter fa-3x"><span class="sr-only">Twitter</span></a>
            <a target="_blank" href="https://www.instagram.com/" class="fa fa-instagram fa-3x"><span class="sr-only">Instagram</span></a>
            <a target="_blank" href="https://www.youtube.com/" class="fa fa-youtube fa-3x"><span class="sr-only">YouTube</span></a>
            </div>
  <p class="text-center"> <br>
    Copyright ©2017 职优网 Design by
    <a href="/" target=_new>xiaoguaishou</a>
  </p>

</footer>
